<div class="mt-5 p-4 bg-dark text-white text-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li><a href="{{url1}}" class="social-link"><i class="fa-brands fa-facebook"></i> {{name1}}</a></li>
                    <li><a href="{{url2}}" class="social-link"><i class="fa-brands fa-instagram"></i> {{name2}}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="{{url3}}" class="social-link"><i class="fa-brands fa-twitter"></i> {{name3}}</a></li>
                    <li><a href="{{url4}}" class="social-link"><i class="fa-brands fa-linkedin"></i> {{name4}}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><a href="{{phone1}}" class="social-link"><i class="fa-brands fa-whatsapp"></i> {{name5}}</a></li>
                    <li><a href="{{email}}" class="social-link"><i class="fa-solid fa-envelope"></i> {{name6}}</a></li>
                    <li><a href="{{phone2}}" class="social-link"><i class="fa-solid fa-phone"></i> {{name7}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p>{{text}}</p>
</div>
  