<div id="{{namePag}}" class="container mt-5">
    <div class="row">
      <div class="col-sm-4 card">
        <div class="card-body">
            <img src="{{img1}}" class="img-thumbnail" alt="Cinque Terre" width="404" height="336">
            <br> 
            <br>
            <a class="text-center"  href="{{url1}}" ><h3>{{Name1}}</h3></a>
            <br>
            <p  class="text-dark text-center">{{text1}}</p>
        </div>
      </div>
      <div class="col-sm-4 card">
        <div class="card-body">
            <img src="{{img3}}" class="img-thumbnail" alt="Cinque Terre" width="404" height="336"> 
            <br>
            <br>
            <a class="text-center" href="{{url3}}"><h3>{{Name3}}</h3></a>
            <br>
            <p class="text-center" >{{text3}}</p>
        </div>
      </div>
      <div class="col-sm-4 card">
       <div class="card-body">
        <img src="{{img2}}" class="img-thumbnail" alt="Cinque Terre" width="404" height="336"> 
        <br>
        <br>
        <a class="text-center" href="{{url2}}"><h3>{{Name2}}</h3></a>
        <br>
        <p  class="text-dark text-center">{{text2}}</p>
       </div>
      </div>
    </div>
</div>