<form id="{{namePag}}" class="list-group container" action="">
    <div  class="mb-3 mt-3">
        <label for="FullName" class="form-label">Name</label>
        <input type="text"  class="form-control" name="FullName" id="FullName" placeholder="FullName">
    </div>
    <div  class="mb-3 mt-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="tel"  class="form-control" name="phone" id="phone" placeholder="Phone">
    </div>
    <div  class="mb-3 mt-3">
        <label for="E_mail" class="form-label">E_mail</label>
        <input type="email"  class="form-control" name="E_mail" id="E_mail" placeholder="E_mail">
    </div>
    <div  class="mb-3 mt-3">
        <label for="message" class="form-label">Message</label>
        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Send E_mail" id="Send">
</form>